body {
 background-image: url("background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

.main-card {
    max-width: 600px;
    margin: 20px auto;
}

#image {
    height: 300px;
    margin: auto;
}

.card-body {
    display: flex;
    justify-content: center;
}

